body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(134, 214, 251);
}


.containerflex {
  list-style-type: none;
  align-self: center;
  margin: 0;
  padding-left: 0;
  
}

.flexline {
  margin: 8px;
  padding: 6px;
  font-size: 1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 8px;
  background-color: rgb(12, 191, 236);
}

span{
  float: right;
  margin-left: 20px;
}

